<label for="{{ id }}_amount">{{ labels.amount }}</label>
<select class="{{ list_class }}" name="{{ name }}[amount]" id="{{ id }}_amount">
    {% for index in 1..60 %}
        <option
                value="{{ index }}"
                {{ selected( values.amount, index ) }} >{{ index }}</option>
    {% endfor %}
</select>

<label for="{{ id }}_unit">{{ labels.unit }}</label>
<select class="{{ list_class }}" name="{{ name }}[unit]" id="{{ id }}_unit">
    <option
            value="hour"
            {{ selected( values.unit, 'hour' ) }} >{{ labels.hour }}</option>
    <option
            value="day"
            {{ selected( values.unit, 'day' ) }} >{{ labels.day }}</option>
    <option
            value="week"
            {{ selected( values.unit, 'week' ) }} >{{ labels.week }}</option>
</select>

{% if labels.post_status != '' %}
    <label for="{{ id }}_post_status">{{ labels.post_status }}</label>
    <select class="{{ list_class }}" name="{{ name }}[post_status]" id="{{ id }}_post_status">
        {% for key,value in post_statuses %}
            <option
                    value="{{ key }}"
                    {{ selected( values.post_status, key ) }} >{{ value }}</option>
            >
        {% endfor %}
    </select>
{% endif %}
